<!-- templates/pages/about.html -->
{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row" id="hero-section">
            <div class="col-12">
                <h2 class="section-title">Inspect > Element: me</h2>
            </div>
            <div class="col-12">
                <p>
                    From an early age, I was captivated by creating websites, starting with a basic HTML page in an FIU
                    class. My curiosity led me to self-teach Python and discover Django, which became central to my web
                    development journey. I've built practical projects, like a web app for my dad's construction
                    company, and now, as a Broward College student, I continue to expand my skills.
                </p>
            </div>
            <div class="col-12">
                <p>
                    To me, web development is like constructing a building—blending creativity, planning, and
                    functionality to create something meaningful. My goal is to develop apps that enhance productivity
                    and, one day, create a household-name website.
                </p>
            </div>
        </div>
        <div class="row" id="higher-education-section">
            <div class="col-12">
                <h2 class="section-title">Higher Education</h2>
            </div>
            <div class="col-6">
                <div class="education-card">
                    <h3 class="education-title">Comp Sci - Web Development</h3>
                    <h4 class="education-institution">Broward College</h4>
                    <p class="education-location">Davie, Fl</p>
                    <p class="education-timeframe">Aug 2024 - Currently Enrolled</p>
                </div>
            </div>

            <div class="col-6">
                <div class="education-card">
                    <h3 class="education-title">Bachelor's of Business Administration</h3>
                    <h4 class="education-institution">Florida International University</h4>
                    <p class="education-location">Miami, Fl</p>
                    <p class="education-timeframe">Jul 2015 - Jun 2021</p>
                </div>
            </div>
        </div>
        <div class="row" id="working-experience-section">
            <div class="col-12">
                <h2 class="section-title">Working Experience</h2>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Business Partner/Administrator</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">Aug 2023 - Jan 2025</p>
                    <p class="work-description">
                        Developed and executed long-term strategic goals while overseeing the
                        operations of multiple departments to ensure efficiency and alignment with company objectives.
                        Collaborated regularly with partners to monitor progress and maintain focus on organizational
                        priorities.
                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Project Manager</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">Sep 2021 - Aug 2023</p>
                    <p class="work-description">
                        Planned, coordinated, and managed all phases of construction projects at client properties,
                        from material procurement to final inspection and approval. Ensured projects were completed
                        on time, within budget, and met quality standards.
                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Office Administrator</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">May 2021 - Aug 2023</p>
                    <p class="work-description">
                        Streamlined office operations by developing and implementing efficient systems for processing
                        client orders and managing administrative workflows. Supervised a team of office assistants,
                        delegated tasks, and reviewed performance reports to ensure smooth day-to-day operations.
                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Webmaster</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">May 2021 - On Going</p>
                    <p class="work-description">
                        Designed, developed, and managed the company's public-facing website, showcasing services and
                        products to attract and engage potential clients. Ensured the site remained visually appealing,
                        functional, and up-to-date.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="certificates-section">
            <div class="col-12">
                <h2 class="section-title">Certificates & Awards <span class="section-title-emphasis">(click to download copy)</span></h2>
            </div>
            {% for certificate in certificates_list %}
                <div class="col-6">
                    <a href="{{ certificate.certificate_file.url }}" class="certificate-link" download>
                        <div class="certificate-card">
                            <img src="{{ certificate.certificate_file.url }}" alt="{{ certificate }} Certificate" class="certificate-img">
                            <h3 class="certificate-title">{{ certificate.title }}</h3>
                            <h4 class="certificate-institution">{{ certificate.institution_name }}</h4>
                            <p class="certificate-timeframe">{{ certificate.date_earned }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}