<!-- templates/pages/about.html -->
{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row" id="hero-section">
            <div class="col-12">
                <h2 class="section-title">Inspect > Element: me</h2>
            </div>
            <div class="col-12">
                <p>
                    From an early age, I was captivated by the idea of creating websites. My interest in web development
                    grew out of a desire to expand my skills beyond Excel, leading me to explore the world of
                    programming. As a kid, I spent countless hours online, fascinated by the structure and design of
                    websites. My first hands-on experience came in an FIU class, where I created a basic HTML page
                    using Word, marking the start of my web development journey.
                </p>
            </div>
            <div class="col-12">
                <p>
                    Driven by curiosity, I delved deeper into web development through self-teaching, primarily focusing
                    on Python. During this journey, I stumbled upon Django, which became the cornerstone of my web
                    development expertise. Reading multiple books on Django, I honed my skills in building web
                    applications, using the Django framework and Python to bring projects to life. Now, as a student at
                    Broward College, I continue to expand my knowledge, pushing myself to learn new tools and
                    technologies in web development.
                </p>
            </div>
            <div class="col-12">
                <p>
                    Along the way, I’ve had the opportunity to apply my skills in practical projects, such as creating
                    a web app for my dad’s construction company. The app serves as a platform to showcase products and
                    services to clients. For me, web development is not just about coding; it's about crafting
                    something meaningful—like constructing a building, where planning, creativity, and functionality
                    come together to create a lasting product. Looking ahead, I’m excited to continue developing web
                    apps that improve productivity and quality of life, with the aspiration of one day creating a
                    household-name website.
                </p>
            </div>
        </div>
        <div class="row" id="higher-education-section">
            <div class="col-12">
                <h2 class="section-title">Higher Education</h2>
            </div>
            <div class="col-6">
                <div class="education-card">
                    <h3 class="education-title">Comp Sci - Web Development</h3>
                    <h4 class="education-institution">Broward College</h4>
                    <p class="education-location">Davie, Fl</p>
                    <p class="education-timeframe">Aug 2024 - Currently Enrolled</p>
                </div>
            </div>

            <div class="col-6">
                <div class="education-card">
                    <h3 class="education-title">Bachelor's of Business Administration</h3>
                    <h4 class="education-institution">Florida International University</h4>
                    <p class="education-location">Miami, Fl</p>
                    <p class="education-timeframe">Jul 2015 - Jun 2021</p>
                </div>
            </div>
        </div>
        <div class="row" id="working-experience-section">
            <div class="col-12">
                <h2 class="section-title">Working Experience</h2>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Business Partner/Administrator</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">Aug 2023 - Jan 2025</p>
                    <p class="work-description">
                        Developed and executed long-term strategic goals while overseeing the
                        operations of multiple departments to ensure efficiency and alignment with company objectives.
                        Collaborated regularly with partners to monitor progress and maintain focus on organizational
                        priorities.
                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Project Manager</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">Sep 2021 - Aug 2023</p>
                    <p class="work-description">
                        Planned, coordinated, and managed all phases of construction projects at client properties,
                        from material procurement to final inspection and approval. Ensured projects were completed
                        on time, within budget, and met quality standards.
                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Office Administrator</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">May 2021 - Aug 2023</p>
                    <p class="work-description">
                        Streamlined office operations by developing and implementing efficient systems for processing
                        client orders and managing administrative workflows. Supervised a team of office assistants,
                        delegated tasks, and reviewed performance reports to ensure smooth day-to-day operations.
                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="work-card">
                    <h3 class="work-title">Webmaster</h3>
                    <h4 class="work-institution">Construction Integrated Services</h4>
                    <p class="work-location">Davie, Fl</p>
                    <p class="work-timeframe">May 2021 - On Going</p>
                    <p class="work-description">
                        Designed, developed, and managed the company's public-facing website, showcasing services and
                        products to attract and engage potential clients. Ensured the site remained visually appealing,
                        functional, and up-to-date.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}