<!-- templates/pages/contact.html -->
{% extends "_base.html" %}

{% block title %}Contact{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="contact-header">Your Move, Internet Friend</h2>
            </div>
            <div class="col-12">
                <p>
                    Hey there, amazing human! Got a brilliant idea, a question, or just want to connect? Drop me a
                    message! Whether you’re here to discuss your next big project or explore how we can work together,
                    I’m all ears. Type away below, and I’ll get back to you as quickly as possible. Let’s create
                    something extraordinary!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" novalidate>
                    {% csrf_token %}

                    <!-- Render Form Errors (if any) -->
                    {{ form.non_field_errors }}

                    <!-- Render Each Field Dynamically -->
                    {% for field in form %}
                        <div class="form-group" id="{{field.label|slugify}}-container">
                            <label for="{{ field.id_for_label }}">{{ field.label }}
                                {% if field.field.required %}
                                    <span class="required-field">*</span>
                                {% endif %}
                            </label>
                            {{ field }}
                            <!-- TODO: Complete field errors or help texts -->
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <small class="field-error">{{ error }}</small>
                                {% endfor %}
                            {% elif field.help_text %}
                                <small class="field-help">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn">Send</button>
                    <button type="reset" class="btn-secondary">Clear</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}