<!-- templates/pages/home.html -->

{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="home-header">Hello there,</h2>
            </div>
            <div class="col-12">
                <p>
                    I am a passionate web developer skilled in building websites, web apps, and scripts using HTML,
                    CSS, JavaScript, Python, and Django. I specialize in creating custom, database-driven solutions
                    tailored to the unique needs of businesses, from managing records to delivering seamless services.
                    Whether working independently or as part of a team, I approach every project with dedication,
                    professionalism, and a commitment to excellence.
                </p>
            </div>
            <div class="col-12">
                <p>
                    This portfolio highlights my journey as a Web Development student at Broward College and
                    showcases the quality and care I bring to every project. Your goals and vision will be my top
                    priority, and I am ready to deliver a solution that reflects your standards and expectations.
                    Let’s build something great together!
                </p>
            </div>
            <div class="col-12">
                <div class="cta-container">
                    <a class="cta-btn" href="{% url 'contact' %}">Let's Connect!</a>
                </div>
                <div class="cta-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 id="book-header">The Books Behind My Code</h3>
                <p>
                    These books have shaped the way I approach coding, problem-solving, and software design. 
                    Whether discovered through recommendations or curiosity, each one has become a key part of my learning path. 
                    They've helped me build a strong foundation that supports my current studies at Broward College.
                </p>
            </div>
            <div class="col-12">
                <table class="book-table">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Author</th>
                            <th>Topic</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="window.open('https://nostarch.com/python-crash-course-3rd-edition', '_blank');">
                            <td>Python Crash Course</td>
                            <td>Eric Matthes</td>
                            <td>Python</td>
                            <td>My intro to Python and Django</td>
                        </tr>
                        <tr onclick="window.open('https://learndjango.com/courses/django-for-beginners/', '_blank');">
                            <td>Django for Beginners</td>
                            <td>William S Vincent</td>
                            <td>Django</td>
                            <td>Learned how to work with Django Framework</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="more-header">Want to learn more?</h2>
            </div>
            <div class="col-12">
                <ul class="links-list">
                    <li class="links-item">
                        <a class="links-link" href="{% url 'about' %}">More About Me &#128102;&#127995;</a>
                    </li>
                    <li class="links-item">
                        <a class="links-link" href="{% url 'portfolio_list' %}">See My Work &#128188;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}