<!-- templates/pages/home.html -->

{% extends "_base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="home-header">Hello there,</h2>
            </div>
            <div class="col-12">
                <p>
                    I am a passionate web developer skilled in building websites, web apps, and scripts using HTML,
                    CSS, JavaScript, Python, and Django. I specialize in creating custom, database-driven solutions
                    tailored to the unique needs of businesses, from managing records to delivering seamless services.
                    Whether working independently or as part of a team, I approach every project with dedication,
                    professionalism, and a commitment to excellence.
                </p>
            </div>
            <div class="col-12">
                <p>
                    This portfolio highlights my journey as a Web Development student at Broward College and
                    showcases the quality and care I bring to every project. Your goals and vision will be my top
                    priority, and I am ready to deliver a solution that reflects your standards and expectations.
                    Let’s build something great together!
                </p>
            </div>
        </div>
    </div>

{% endblock content %}