<!-- templates/pages/portfolio/portfolio-list.html -->
{% extends "_base.html" %}
{% load static %}

{% block meta_description %}
    Browse feature and quick projects built with Django, HTML, CSS, and JavaScript. Filter by tech tags and view detailed showcases.
{% endblock meta_description %}

{% block title %}Portfolio{% endblock title %}

    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="portfolio-header">Commit. Push. Showcase.</h2>
            </div>
            <div class="col-12">
                <p class="text-indented">
                    This is a collection of projects that map my journey in web development. Some are feature-rich
                    builds crafted with precision; others are quick experiments born from curiosity. Each entry is
                    marked to guide you, but together they reveal the process, growth, and lessons behind every
                    line of code.
                </p>
            </div>
        </div>

        <div class="row">
            <div id="fp-section" class="col-8">
                <h2 id="fp-header">Featured Projects</h2>

                <div id="fp-container" class="container">
                    <div class="row">
                        {% for project in featured_projects %}
                            <div class="col-12">
                                <div class="fp-card">
                                    <img class="fp-thumbnail" src="{{project.thumbnail.url}}" alt="{{project.title}} thumbnail"
                                    width="{{ project.thumbnail.width }}" height="{{ project.thumbnail.height }}">
                                    <h3 class="fp-title">{{ project.title }}</h3>
                                    <a class="fp-btn" href="{% url 'featured_project_detail' project.slug %}">More Details</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="qp-section" class="col-4">
                <h2 id="quick-projects-header">Quick Projects</h2>

                <div class="container">
                    <div class="row"> 
                        <div class="col-12">
                            <div class="qp-column">
                                <ul class="qp-list">
                                    {% for project in quick_projects %}
                                        <a href="{% url 'quick_project_detail' project.slug %}" class="qp-card">
                                            <img class="qp-card-img" src="{{ project.thumbnail.url }}" alt="{{ project.name }} logo"
                                            width="{{ project.thumbnail.width }}" height="{{ project.thumbnail.height }}">
                                            <div>
                                                <h4 class="qp-card-text">{{ project.title }}</h4>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </ul>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

    
