<!-- templates/pages/portfolio/portfolio-list.html -->
{% extends "_base.html" %}
{% load static %}

{% block title %}Portfolio{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="portfolio-header">Commit. Push. Showcase.</h2>
            </div>
            <div class="col-12">
                <p>
                    This is a collection of projects that map my journey in web development. Some are feature-rich
                    builds crafted with precision; others are quick experiments born from curiosity. Each entry is
                    marked to guide you, but together they reveal the process, growth, and lessons behind every
                    line of code.
                </p>
            </div>

            {% for project in featured_projects %}
                <h3>{{project.title}}</h3>
                <p>{{project.description}}</p>
                <a href="{{project.repository_link}}" target="_blank">Github Link</a>
                <strong>Date Completed: {{project.date_completed}}</strong>
                <strong>Date Created: {{project.date_created}}</strong>
                <img src="{{project.thumbnail.url}}" alt="{{project.title}} thumbnail">

                 {% for tech in project.technologies_used_set.all %}
                    <p>{{ tech.name }}</p>
                 {% endfor %}

                {% for screenshot in project.screenshots.all %}
                    <img src="{{screenshot.image.url}}" alt="{{screenshot.project.title}} screenshot">
                    <small>{{ screenshot.caption }}</small>
                {% endfor %}
            {% endfor %}


            {% for project in quick_projects %}
                <h5>{{ project.title }}</h5>
                <p>{{ project.description }}</p>
                <a href="{{project.repository_link}}" target="_blank">Github Link</a>
                <strong>Date Completed: {{project.date_completed}}</strong>
                <strong>Date Created: {{project.date_created}}</strong>
                <img src="{{project.thumbnail.url}}" alt="{{project.title}} thumbnail">
                {% for tech in project.technologies_used_set.all %}
                    <p>{{ tech.name }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}