<!-- templates/pages/portfolio/quick-project-detail.html -->
{% extends "_base.html" %}
{% load static %}

{% block meta_description %}
    {{ project.meta_description }}
{% endblock meta_description %}

{% block title %}{{project.title}}{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row" id="hero-section">
            <div class="col-12">
                <h2 class="section-title">{{project.title}}</h2>
            </div>
            
            <div class="col-12">
                <p class="project-date-text">
                    {% if project.date_completed %}
                        Completed: {{ project.date_completed }}
                    {% else %}
                        Published: {{ project.date_created }}
                    {% endif %}
                </p>
            </div>

            <!-- Thumbnail Image -->
            {% if project.thumbnail %}
                <div class="col-12">
                    <img class="fp-hero-thumbnail" src="{{ project.thumbnail.url }}" alt="{{ project.title }} thumbnail">
                </div>
            {% endif %}
        </div>
        <div class="row" id="info-section">
            <!-- Description -->
            <div class="col-12">
                <h3 class="detail-header">Project Details</h4>
                <span class="project-description-text">{{ project.description|linebreaks }}</span>
            </div>
            <div class="col-12">
                <div class="badges-section">
                    <h4 class="badge-header">Languages or Frameworks Used</h4>
                    <div class="badges-card">
                        {% for tech in project.technologies_used.all %}
                            <img loading="lazy" class="detail-tech-badge" src="{{tech.badge.url}}" alt="{{tech}} badge"
                            title="{{tech.name}}">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Repository Link -->
            {% if project.repository_link %}
                <div class="col-12">
                    <a href="{{ project.repository_link }}" target="_blank" class="btn">
                        🔗 View on GitHub
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %} 