.btn, .btn-secondary, .fp-btn, .fp-btn-secondary {
    margin: 30px 0;
    margin-right: 10px;
    padding: 10px 18px;
    font-weight: bold;
    color: var(--white);
    background: var(--primary);
    border: 0;
    border-radius: 8px;
    border: 3px solid var(--primary);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.fp-btn {
    margin: 15px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn-secondary, .fp-btn-secondary {
    color: var(--black);
    background: var(--white);
    border: 3px dotted var(--black);
}