label {
    display: block;
    width: 100%;
}

.required-field {
    color: var(--important);
    font-weight: bold;
    font-size: 115%;
}

#first-name-input, #last-name-input,
#company-input, #phone-number-input,
#email-input, #subject-input,
#textarea-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    border-bottom-color: var(--black);
    background: transparent;
    outline: none;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    padding: 8px 0;
    transition: border-color 0.3s ease;
}

#textarea-input {
    /* make font smaller for better readability*/
    font-size: 18px;
    font-weight: 400;
    resize: none;
}

/* When input is focused, highlight the border */
#first-name-input:focus, #last-name-input:focus,
#company-input:focus, #phone-number-input:focus,
#email-input:focus, #subject-input:focus,
#textarea-input:focus {
    border-bottom-color: var(--primary); /* Change to focused accent color */
}

small {
    margin: 0;
    padding: 0;
}

.field-error {
    color: var(--important);
}

/* The size of each field is determined by the width of its container */
#first-name-container, #last-name-container,
#company-container, #phone-number-container,
#email-address-container, #subject-container,
#message-container {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 30px 0;
    margin-right: 5%;
}

#first-name-input, #last-name-input {
    width: 75%;
}

#company-input {
    width: 60%;
    
}

#phone-number-input {
    width: 60%;
}

#email-input {
    width: 90%;
}

#subject-input {
    width: 65%;
}

#textarea-input {
    width: 90%;
}

#are-you-a-robot-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

#are-you-a-robot-container label {
    display: none; /* Hide captcha label */
}


/* Im trying to make the phone number and email containers to take the same
row until small screens. I need to revisit the problem from here */

#phone-number-container {
    width: 45%;
}

#email-address-container {
    width: 55%;
}
