@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("containers.css");
@import url("header.css");
@import url("nav.css");
@import url("aside.css");
@import url("home.css");

:root {
    --black: #242124;
    --white: Ivory;  /* this white matches the white background of my photoshopped images */
    --primary: #0A5DBF;  /* blue */
    --secondary: #3A96C3; /* light blue */
    --complementary: #DBB02F;  /* gold */
}

* {
    font-family: "Montserrat", serif;
    font-style: normal;
    box-sizing: border-box;
    color: var(--black);
}

html, body {
    padding: 0;
    margin: 0;
    background: var(--white);
    color: var(--black);
    height: 100%;
}

body {
    padding: 2.5% 8%;
}

#layout {
    display: flex;
    flex-wrap: nowrap; /* Ensures no wrapping of items */
    gap: 0; /* Space between aside and main */
}

main {
    width: 80%;
    padding: 3.5% 5%;
}
