@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("containers.css");
@import url("header.css");
@import url("nav.css");
@import url("aside.css");
@import url("home.css");
@import url("about.css");
@import url("contact.css");
@import url("portfolio-details.css");
@import url("portfolio-cards.css");
@import url("buttons.css");

:root {
    --black: #242124;
    --white: #FAF8F5;  /* this white has a resume background tone */
    --primary: #0A5DBF;  /* blue */
    --important: #BF260A; /* red */
    --complementary: #DBB02F;  /* gold */
}

* {
    font-family: "Montserrat", serif;
    font-style: normal;
    box-sizing: border-box;
    color: var(--black);
}

html, body {
    padding: 0;
    margin: 0;
    background: var(--white);
    color: var(--black);
    height: 100%;
}

body {
    padding: 2.5% 8%;
}

#layout {
    display: flex;
    flex-wrap: nowrap; /* Ensures no wrapping of items */
    gap: 0; /* Space between aside and main */
}

main {
    width: 80%; /* correlated to the width of aside in aside.css */
    padding: 3.5% 5%;
    border-left-style: solid;
    border-left-color: var(--black);
    border-left-width: 3px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.section-title-emphasis {
    font-size: 80%;
    color: gray;
    font-style: italic;
    font-weight: 300;
}