<aside>
    <div class="container">
        <!-- details section -->
        <div class="row">
            <div class="aside-section">
                <!-- aside section header -->
                <div class="col-12">
                    <h3 class="aside-header">DETAILS</h3>
                </div>

                <!-- details address -->
                <div class="col-12">
                    <h5 class="section-header">ADDRESS</h5>
                </div>
                <div class="col-12">
                    <p>Coral Springs</p>
                    <p>Fl, United States</p>
                </div>

                <!-- details phone -->
                <div class="col-12">
                    <h5 class="section-header">PHONE</h5>
                </div>
                <div class="col-12">
                    <p>954-661-7257</p>
                </div>

                <!-- details email -->
                <div class="col-12">
                    <h5 class="section-header">EMAIL</h5>
                </div>
                <div class="col-12">
                    <p>gusir22@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- links section -->
        <div class="row">
            <div class="aside-section">
                <!-- aside section header -->
                <div class="col-12">
                    <h3 class="aside-header">LINKS</h3>
                </div>

                <!-- links -->
                <div class="col-12">
                    <ul id="links-list">
                        <li class="links-item">
                            <a href="https://github.com/gusir22" class="links-link" target="_blank">GitHub</a>
                        </li>
                        <li class="links-item">
                            <a href="https://www.linkedin.com/in/gustavo-rivero-694201325/" class="links-link" target="_blank">LinkedIn</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


    </div>
</aside>