<aside>
    <div class="container">
        <!-- details section -->
        <div class="row">
            <div class="aside-section">
                <!-- aside section header -->
                <div class="col-12">
                    <h3 class="aside-header">DETAILS</h3>
                </div>

                <!-- details address -->
                <div class="col-12">
                    <h5 class="section-header">ADDRESS</h5>
                </div>
                <div class="col-12">
                    <p>Coral Springs</p>
                    <p>Fl, United States</p>
                </div>

                <!-- details email -->
                <div class="col-12">
                    <h5 class="section-header">EMAIL</h5>
                </div>
                <div class="col-12">
                    <p>gusir22@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- links section -->
        <div class="row">
            <div class="aside-section">
                <!-- aside section header -->
                <div class="col-12">
                    <h3 class="aside-header">LINKS</h3>
                </div>

                <!-- links -->
                <div class="col-12">
                    <ul class="links-list">
                        <li class="links-item">
                            <a href="https://github.com/gusir22" class="links-link" target="_blank">GitHub</a>
                        </li>
                        <li class="links-item">
                            <a href="https://www.linkedin.com/in/gustavo-rivero-694201325/" class="links-link" target="_blank">LinkedIn</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- languages section -->
        <div class="row">
            <div class="aside-section">
                <!-- aside section header -->
                <div class="col-12">
                    <h3 class="aside-header">LANGUAGES</h3>
                </div>

                <!-- skills and levels -->
                <div class="col-12">
                    <h5 class="skill-header">English</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Fluent</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">Spanish</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Native</p>
                </div>
            </div>
        </div>

        <!-- tech skills section -->
        <div class="row">
            <div class="aside-section">
                <!-- aside section header -->
                <div class="col-12">
                    <h3 class="aside-header">TECH SKILLS</h3>
                </div>

                <!-- skills and levels -->
                <div class="col-12">
                    <h5 class="skill-header">Git</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Proficient</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">Python</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Proficient</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">HTML5</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Intermediate</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">CSS</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Intermediate</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">JavaScript</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Intermediate</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">PostgreSQL</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Beginner</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">Django5</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Proficient</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">Django Rest Framework</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Intermediate</p>
                </div>

                <div class="col-12">
                    <h5 class="skill-header">Bootstrap5</h5>
                </div>
                <div class="col-12">
                    <p class="skill-level">Intermediate</p>
                </div>

            </div>
        </div>

    </div>
</aside>