<!-- templates/header-nav.html -->
<header>
    <div class="container" id="header-container">
        <div class="row">
            <div class="col-12">
                <p class="header-title">GUSTAVO</p>
                <p class="header-title">RIVERO</p>
            </div>
            <div class="col-12">
                <p id="header-subtitle">Web Developer</p>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="nav-container">
                    <ul id="nav">
                        <li class="nav-item" id="{% if request.path == '/' %}active-nav{% endif %}">
                            <a href="{% url 'home' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item" id="{% if request.path == '/contact/' %}active-nav{% endif %}">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item" id="{% if request.path == '/about/' %}active-nav{% endif %}">
                            <a href="{% url 'about' %}" class="nav-link" >About</a>
                        </li>
                        <li class="nav-item" id="{% if request.path == '/portfolio' %}active-nav{% endif %}">
                            <a href="#" class="nav-link">Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>