<!-- templates/header-nav.html -->
<header>
    <div class="container" id="header-container">
        <div class="row">
            <div class="col-12">
                <p class="header-title">GUSTAVO</p>
                <p class="header-title">RIVERO</p>
            </div>
            <div class="col-12">
                <p id="header-subtitle">Web Developer</p>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="nav-container">
                    <ul id="nav">
                        <li class="nav-link">Home</li>
                        <li class="nav-link">Contact</li>
                        <li class="nav-link">About</li>
                        <li class="nav-link">Portfolio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>