#header-container {
    margin: 0;
    padding: 0;
    border-color: var(--primary);
}

.header-title {
    font-weight: 600;
    font-size: 300%;
    margin: 0;
    padding: 0;
}

#header-subtitle {
    color: var(--primary);
    font-style: italic;
}